Dear #{@candidate_name}
%br/
#{@staff_name} has recommended '#{@job_name}' position by '#{@company_name}' for you.
%br
You may see details of job
%a{href: "#{url_for(controller: 'app', action: 'index', only_path: false)}#!/candidate/jobs"}
 here
\.
%br
Sincerely,
%br
ITU Bridge Staff.
%br/
