:javascript
  window.staticPage = true;

/ Fixed Navbar
%nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header.page-scroll
      %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"}
        %img{:src => asset_path('home/logo.jpg')}/
        %span.text-uppercase Bridge
    / Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse.navbar-ex1-collapse
      %ul.nav.navbar-nav.navbar-right
        / Hidden li included to remove active class from about link when scrolled up past about section
        %li.page-scroll{'ng-if' => '!currentUser.isAuthenticated'}
          %a.text-uppercase{:href => "#{Rails.application.config.id_url + '/login?client_id=' + ENV.fetch('ID_TOKEN')}}"} Sign In
        %li.page-scroll{'ng-if' => 'currentUser.isAuthenticated'}
          %a.text-uppercase{:href => '/app'} Go to App
        %li.vertical-divider.hidden-xs
        %li.page-scroll
          %a.text-uppercase{'ng-click' => 'showZendeskModal()'} Support
    / /navbar-collapse
  / /container
/ /navbar

%section.page-section
  .container.page-section-container
    %header.page-section-header
      %h1.page-section-heading Privacy policy
    %article
      %p
        Last updated:
        %strong September 03, 2014
      %p
        International Technological University Foundation ("us", "we", or "our")
        operates the
        %a{:href => "http://bridge.itu.edu"} http://bridge.itu.edu
        website and the ITU Bridge mobile application (the "Service").
      %p
        This page informs you of our policies regarding the collection, use and disclosure of Personal Information when you use our Service.
      %p
        We will not use or share your information with anyone except as described in this Privacy Policy.
      %p
        We use your Personal Information for providing and improving the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible at
        %a{:href => "http://bridge.itu.edu"} http://bridge.itu.edu
      %h3 Information Collection And Use
      %p
        While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to, your email address, name, phone number, postal address, other information ("Personal Information").
      %h3 Log Data
      %p
        We collect information that your browser sends whenever you visit our Service ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages and other statistics.
      %p
        In addition, we may use third party services such as Google Analytics that collect, monitor and analyze this type of information in order to increase our Service's functionality. These third party service providers have their own privacy policies addressing how they use such information.
      %p
        When you access the Service by or through a mobile device, we may collect certain information automatically, including, but not limited to, the type of mobile device you use, your mobile devices unique device ID, the IP address of your mobile device, your mobile operating system, the type of mobile Internet browser you use and other statistics.
      %h3 Location information
      %p
        We may use and store information about your location, if you give us permission to do so. We use this information to provide features of our Service, to improve and customize our Service. You can enable or disable location services when you use our Service at anytime, through your mobile device settings.
      %h3 Cookies
      %p
        Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer's hard drive.
      %p
        We use "cookies" to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service.
      %h3 DoubleClick Cookie
      %p
        Google, as a third party vendor, uses cookies to serve ads on our Service. Google's use of the DoubleClick cookie enables it and its partners to serve ads to our users based on their visit to our Service or other web sites on the Internet.
      %p
        You may opt out of the use of the DoubleClick Cookie for interest-based advertising by visiting the Google Ads Settings
        (
        %a{:href => "http://www.google.com/ads/preferences/"}> http://www.google.com/ads/preferences/
        ) web page.
      %h3 Behavioral Remarketing
      %p
        International Technological University Foundation uses remarketing services to advertise on third party web sites to you after you visited our Service. We, and our third party vendors, use cookies to inform, optimize and serve ads based on your past visits to our Service.
      %h3 Do Not Track Disclosure
      %p
        We support Do Not Track ("DNT"). Do Not Track is a preference you can set in your web browser to inform websites that you do not want to be tracked.
      %p
        You can enable or disable Do Not Track by visiting the Preferences or Settings page of your web browser.
      %h3 Service Providers
      %p
        We may employ third party companies and individuals to facilitate our Service, to provide the Service on our behalf, to perform Service-related services or to assist us in analyzing how our Service is used.
      %p
        These third parties have access to your Personal Information only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.
      %h3 Communications
      %p
        We may use your Personal Information to contact you with newsletters, marketing or promotional materials and other information that may be of interest to you. You may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or instructions provided in any email we send.
      %h3 Compliance With Laws
      %p
        We will disclose your Personal Information where required to do so by law or subpoena or if we believe that such action is necessary to comply with the law and the reasonable requests of law enforcement or to protect the security or integrity of our Service.
      %h3 Business Transaction
      %p
        If International Technological University Foundation is involved in a merger, acquisition or asset sale, your Personal Information may be transferred. We will provide notice before your Personal Information is transferred and becomes subject to a different Privacy Policy.
      %h3 Security
      %p
        The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.
      %h3 International Transfer
      %p
        Your information, including Personal Information, may be transferred to — and maintained on — computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction.
      %p
        If you are located outside United States and choose to provide information to us, please note that we transfer the information, including Personal Information, to United States and processes it there.
      %p
        Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.
      %h3 Links To Other Sites
      %p
        Our Service may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.
      %p
        We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites or services.
      %h3 Children's Privacy
      %p
        Our Service does not address anyone under the age of 13 ("Children").
      %p
        We do not knowingly collect personally identifiable information from children under 13. If you are a parent or guardian and you are aware that your Children has provided us with Personal Information, please contact us. If we discover that a Children under 13 has provided us with Personal Information, we will delete such information from our servers immediately.
      %h3 Changes To This Privacy Policy
      %p
        We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.
      %p
        You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.
      %h3 Contact Us
      %p
        If you have any questions about this Privacy Policy, please contact us toll free at
        = succeed "." do
          %strong (888) 488-4968

/ Contact Wrap
%section#contact.contactwrap
  / Copy Wrap
  .copywrap
    .container
      .row
        .col-lg-5
          %p &copy; 2014 International Technological University
        .col-lg-1
          %img{:src => asset_path('home/footer.png')}
        .col-lg-6
          %p.footer-link
            %a.first{:href => "#"} Home
            |
            = link_to 'Terms of Service', page_path('terms')
            |
            = link_to 'Privacy policy', page_path('privacy-policy')
            |
            %a.btn-support{'ng-click' => 'showZendeskModal()'} Support
            |
            %a.login-link{'ng-if' => '!currentUser.isAuthenticated', href: "#{Rails.application.config.id_url + '/login'}"}
              Sign-In
            %a.login-link{'ng-if' => 'currentUser.isAuthenticated', href: "/app"}
              Go to App